main {
    position: absolute;
    top: 90px;
    // left: 117px;
    // z-index: 1000;
    width: calc(100vw - 117px);
    max-width: calc(1440px - 117px);
    // height: 2000px;

    // background: grey;
    margin: 68px 0 0 117px;
    padding: 0 90px;
    section {
        margin-left: 18px;
    }
}
