main {
    position: absolute;
    top: 0px;
    left: 0px;
    margin-left: 117px;
    // margin-right: 90px;
    // margin-top: 68px;

    // z-index: 1000;
    width: calc(100% - 117px);
    height: auto;
    // max-width: calc(1440px - 117px);
    // height: 2000px;
    // border: 1px solid blue;

    background: $text-white;
    // margin: 68px 0 0 117px;
    padding: calc(90px + 68px) 90px 70px 90px;
    // padding-top: calc(90px + 68px);
    // padding-bottom: 70px;
    section {
        margin-left: 18px;
    }
}
