//* Nav-bar & sidebar */
$nav-bg-black: #020203;
$nav-title-red: #e60000;
// $nav-title-red: white;

//* Main */

$text-black-900: #20253a;
$text-grey: #74798c;
$text-white: #ffffff;

//? Section Hello & Presentation */
$shp-text-black-h1: #000000;
$shp-text-red-h1: #ff0101;

//? Section Daily Activity */

$sda-bg-color: #fbfbfb;

$sda-graph-bar_1: #282d30;
$sda-graph-bar_2: #e60000;
$sda-graph-bg-selected: #e0e0e0;

$sda-border-dash-color: #dedede;
$sda-axis-numbers: #9b9eac;

//? Section Resume Activity */

$sra-bg-f1: #ff0000;
$sra-bg-f2: #32383c;
$sra-bg-f3: #fbfbfb;

$shadow-rgba: rgba(48, 46, 77, 0.15);

$color-shadow: rgba(0, 0, 0, 0.25);
$font-roboto: "Roboto", sans-serif;
