/* nav-bar */
// @import "../00_utils/4_fonts";

.nav-bar {
    width: 100vw;
    max-width: 1440px;
    height: 90px;
    height: 85px;
    background-color: $nav-bg-black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 29px;

    position: fixed;

    z-index: 100;

    align-self: center;
    .logo {
        width: calc(178px);
        width: auto;
        height: 85px;
        display: inline-flex;
        align-items: center;
        padding-right: 40px;
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
        background-color: $nav-bg-black;
        position: relative;
        z-index: 102;
        .my-logo,
        .typo-logo {
            position: absolute;
            box-sizing: border-box;
            background-color: $shp-text-red-h1;
        }
        .my-logo {
            max-width: 58px;
            max-height: 58px;
            border-radius: 50%;
        }
        .typo-logo {
            margin-left: 68px;
            margin-top: 2px;
            width: 110px;
            height: 25px;
            background-color: $nav-bg-black;
            .black-content_icon {
                @include drop-shadow(1px 1px rgba(0, 0, 0, 0));
            }
            .red-bg_icon {
                fill: $shp-text-red-h1;
                // fill: blue;
            }
        }
        .red-bg_icon {
            fill: $shp-text-red-h1;
        }

        .black-content_icon {
            fill: $nav-bg-black;
        }
        .hover-line {
            // width: 86px;
            height: 5px;
            // transition: all 1s ease-in-out;

            // border-bottom: 2px solid $shp-text-red-h1;
            // margin-left: 68px;
            position: absolute;
            z-index: 100;
            top: 51px;
            display: none;
        }
        .p1 {
            width: 12px;
            margin-left: 68px;
            animation: showLine 0.3s ease-in-out;
            // transform: scaleX(1);
            // left: 0;
        }
        .p2 {
            width: 12px;
            animation: showLine 0.3s ease-in-out;
            // transform: scaleX(1);
            margin-left: 80px;
            border-bottom: 2px solid $nav-bg-black;
            left: 0;
            // border-bottom: 2px solid green;
        }
        .p3 {
            max-width: 86px;
            width: 100%;
            animation: showLine 0.3s ease-in-out;
            left: 0;
            // transform: scaleX(1);
            margin-left: 92px;
        }
        .nav-title {
            @include nav-title;
            color: $nav-bg-black;
            padding-left: 68px;
            letter-spacing: 1.35px;
        }
        @keyframes showLine {
            from {
                width: 0;
                // transform: scaleX(0);
            }

            to {
                width: 100%;
                // max-width: 86px;
                // transform: scaleX(1);
            }
        }
        &:hover {
            .my-logo {
                box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.25);
                .red-bg_icon {
                    fill: transparent;
                }
                .black-content_icon {
                    @include drop-shadow(2px 2px rgba(0, 0, 0, 0.25));
                }
            }
            .typo-logo {
                box-shadow: inset 1px 1px 1px rgba(40, 45, 48, 0.05);
                background-color: $shp-text-red-h1;
                .black-content_icon {
                    @include drop-shadow(1px 1px rgba(0, 0, 0, 0.25));
                }
                .red-bg_icon {
                    fill: transparent;
                    // fill: blue;
                }
            }
            .hover-line {
                display: block;
            }
            .p1,
            .p3 {
                border-bottom: 2px solid $shp-text-red-h1;
            }
        }

        &:active {
            .my-logo,
            .typo-logo {
                background-color: #fff;
            }
            .red-bg_icon {
                fill: transparent;
            }
        }
    }
    .link-group {
        width: 100%;
        height: 84px;
        box-sizing: content-box;
        border-bottom: 2px solid rgba(255, 0, 0, 10.25);
        box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        position: relative;
        z-index: 100;

        .link-button {
            position: relative;
            z-index: 102;
            background-color: $nav-bg-black;
            width: calc(25% - 0px);
            border-left: 2px solid $shp-text-black-h1;
            border-right: 2px solid $shp-text-black-h1;
            height: 86px;
            display: flex;
            flex-flow: column;
            align-content: center;
            align-items: center;
            justify-content: center;
            &:nth-child(4) {
                padding-right: 10px;
            }
            &:hover {
                z-index: 101;
                height: 84px;
                box-shadow: 0px 4px 4px 0px rgba(255, 1, 1, 0.25);
                position: relative;
                .nav-link {
                    color: $nav-title-red;
                }

                top: 0px;
                height: 83px;
            }
            .nav-link {
                display: block;
                position: relative;
                @include nav-link;
                // border: 1px solid #fff;
                width: calc(149px);
                text-align: center;
                // color: aqua;
                // background: green;
            }
            &:nth-child(1) {
                .nav-link {
                    left: 1px;
                }
            }
            &:nth-child(2) {
                .nav-link {
                    padding-right: 44px;
                }
            }
            &:nth-child(3) {
                .nav-link {
                    padding-right: 39px;
                }
            }
            &:nth-child(4) {
                .nav-link {
                    left: -2px;
                }
            }
        }
    }
}
